@page "/fetchdata"
@using BlazorApp.Shared 
@inject HttpClient Http

<PageTitle>Characters</PageTitle>

<h1>Character Data</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (characterData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@characterData.Name</p>
    <p>@characterData.Inspiration</p>
    <p>@characterData.BaseHitPoints</p>
    <p>@characterData.RemovedHitPoints</p>
    <p>@characterData.TemporaryHitPoints</p>
}

@code {
    private CharacterData characterData;

    private string[] characterIds = ["155705536", ""];
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            string id = "155705536";
            characterData = await Http.GetFromJsonAsync<CharacterData>($"/api/CharacterData/{id}") ?? default;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
