@page "/fetchdata"
@using BlazorApp.Shared 
@inject HttpClient Http

<PageTitle>Characters</PageTitle>

<h1>Character Data</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (characterDataList.Count != 2)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <tr>
            <th>Name</th>
            <th>Inspiration</th>
            <th>Base Hit Points</th>
            <th>Removed Hit Points</th>
            <th>Temporary Hit Points</th>
        </tr>
        @foreach (var characterData in characterDataList)
        {
            <tr>
                <td>@characterData.Name</td>
                <td>@characterData.Inspiration</td>
                <td>@characterData.BaseHitPoints</td>
                <td>@characterData.RemovedHitPoints</td>
                <td>@characterData.TemporaryHitPoints</td>
            </tr>
        }
    </table>
}

@code {
    private List<CharacterData> characterDataList;

    private string[] characterIds = ["155705536", "155705736", "155388383", "156155549", "156927653", "146974607"];
    
    protected override async Task OnInitializedAsync()
    {
        characterDataList = [];
        
        try
        {
            foreach (var characterId in characterIds)
            {
                characterDataList.Add(await Http.GetFromJsonAsync<CharacterData>($"/api/character/{characterId}"));
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
